{% extends "base_generic.html" %}

{% block content %}
    <h1>Authors List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}"> {{ author }}</a> 
        {% if perms.catalog.can_add_mod_del_authors %}
          [<a href="{% url 'author_update' author.pk %}"> Modificar</a>]
          [<a href="{% url 'author_delete' author.pk %}"> Eliminar</a>]
        {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no authors registered in the library.</p>
    {% endif %}       
{% endblock %}